{% extends 'layout.html' %}

{% block main %}
<main>
    <div class="main-content ">
        <div class="main-form">
            <!--Bootstrap card-->
            <div class="card text-center">
                <div class="card-header">
                    Featured
                </div>
                <div class="card-body ">
                    <h5 class="card-title ">Amazing Website</h5>
                    <p class="card-text">With very important supporting text below it!</p>
                    <a href="/users" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</main>

{% endblock %}